<div class="span3">
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminAppartements_index') }}">Appartements</a>
            </li>
            <li>
                <a href="{{ path('adminContratL_index') }}">Contrats</a>
            </li>
            <li>
                <a href="ajout-edit.php">Locataires</a>
            </li>

        </ul>
    </div> 
</div>