<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('fos_user_profile_show') }}">Espace Membre</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
            </li>
        </ul>
    </div>
</div>