{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h2>Ajouter un Appartement</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <input class="btn btn-primary" type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <a href="{{ path('adminAppartements_index') }}">Retour à la liste</a>
{% endblock %}
